<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MoneyCashboard</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<div class="grid">
   <div class="grid-row grid-row-sm">
    <div class="cell">
      <h1><span class="logo">m</span>oneyCashboard</h1>      
    </div>
    <div class="cell">
    <nav>
         <a href="/transaction" class="nav-link">My Transactions</a> &nbsp;&nbsp; 
         <a href="/merchant" class="nav-link">Merchants</a> &nbsp;&nbsp; 
         <a href="/tag" class="nav-link">Tags</a>  &nbsp;&nbsp; 
         <a href="/month" class="nav-link">View Month</a> 
     </nav> 
    </div>
  </div>

  <div class="grid-row grid-row-lg hero-bg">
    <div class="cell">
      <h1 class="tagline">shop smart, budget smart</h1>
    </div>
  </div>

  <div class="grid-row grid-row-lg">
    <div class="cell">
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>