<div class="dashboard">
  <p><a href="/tag/new">Add Tag</a></p>
</div>

<div class="main">
  <h3>All Tags</h3>

  <% for tag in @tags %>
  <p>Type: <%= tag.type() %></p>
  <!-- <p>Amount spent by tag: £ ruby @spent_by_tag ruby </p>  -->
  <p><a href="/tag/<%= tag.id %>">Show Tag Details</a></p>
  <hr />
  <% end %>
</div>