<div class="main">
  <p>Type: <%= @tag.type() %></p>
  <p>Amount spent by tag: £<%= sprintf('%.2f', @spent_by_tag) %> </p> 
  <p><a href="/tag/<%= @tag.id %>/edit">Edit Tag</a></p>

  <form action="/tag/<%= @tag.id %>/delete" method="POST">
    <input type="submit" value="Delete Tag">
  </form>
  <p>&nbsp;</p>
  <p><a href="/tag">Return to Tags</a></p>

</div>