body {
  background-color: #ffffff;
  font-family: helvetica, verdana, sans-serif;
  color: #333333;

}

h1 {
  color: #8dd9f1;
  font-family: helvetica, verdana, sans-serif;
  font-weight: lighter;
}

h2 {
  color: #ffffff;
  font-family: helvetica, verdana, sans-serif;

}

h3 {
  color: #8dd9f1;
  background-color: inherit;
  font-family: helvetica, verdana, sans-serif;

}

p {
  color: #4d99b1;
  font-family: helvetica, verdana, sans-serif;
}

a {
  color: #7dc9e1;
  font-family: helvetica, verdana, sans-serif;
}

a:hover {
  color: #4d99bf;
}

a:visited {
  color: #7dc9e1;
}

hr {
  color: #6db9d1;
  background-color: #6db9d1;     
  height: 0px;
  border: 0;
  border-top: 1px dotted #6db9d1;
  margin: 1em 0;
  padding: 0; 
}

nav {
  padding: 0px;
  margin: 0px;
  padding-right: 25px;
  text-align: right;

}

.nav-link {
  color: #7dc9e1;
  margin-right: 5px;
  margin-left: 5px;
  padding: 10px 14px;
  border-radius: 5px;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #6293a4;
  font-size: 14px;
  text-decoration: none;
  text-transform: none;
  background-color: #ffffff;
}
.nav-link:hover {
  background-color: #bdf9ff;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.dashboard {
  color: #ffffff;
  background-color: #6db9d1;
  padding: 10px 20px;
  margin: 0px;
}

.dashboard p {
  color: #ffffff;
}

.dashboard a {
  color: #ffffff;
}
/*
4d99b1
6db9d1
6293a4
7dc9e1
8dd9f1
*/
.main {
  background-color: #ffffff;
  padding: 10px 20px;
  margin: 0px;
  border: 1px solid #6db9d1;
}

.grid {
  border: 0px solid #caccb6;
}

.grid-row {
  display: flex;
  flex-direction: column;
}

.cell {
  flex: 1;
  border: 0px solid #caccb6;
  padding: 10px;
  min-height: 15vh;
}

@media all and (min-width: 480px){
  .grid-row-sm {
    flex-direction: row;
  }
}

@media all and (min-width: 720px) {
  .grid-row-md {
    flex-direction: row;
  }
}

@media all and (min-width: 960px) {
  .grid-row-md {
    flex-direction: row;
  }
}